:root {
    --color-item-primary: aqua;
    --color-container-primary: azure;
}

.kanban-container {
    position: relative;
    box-sizing: border-box;
    width: auto;
    background-color: var(--color-container-primary);
    min-height: 200px;
    max-width: 400px;
    gap: 10px;
}

.kanban-container * {
    box-sizing: border-box;
}

.kanban-item {
    margin-bottom: 5px;
    min-width: 360px;
    max-width: 360px;
    height: 40px;
    /*
    https://stackoverflow.com/questions/8865458/how-do-i-vertically-center-text-with-css
    */
    line-height: 40px;
    background-color: var(--color-item-primary);
    user-select: none;
    margin: 0 auto;
    padding-left: 10px;
    vertical-align: middle;
}

/*
https://stackoverflow.com/questions/11903773/add-space-between-li-elements
*/
.kanban-item:not(:last-child) {
    margin-bottom: 10px;
}

.kanban-item:hover {
    cursor: move;
}


.kanban-container:after {
    clear: both;
    display: block;
    content: "";
}

.ismoving {
    opacity: 0.4;
}

.click-item {
    /**
    https://zero-plus.io/media/css-position-static/
    */
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    transform: rotate(2deg);
}