:root {
    --color-item-primary: aqua;
}

.kanban-container {
    position: relative;
    box-sizing: border-box;
    width: auto;
}

.kanban-container * {
    box-sizing: border-box;
}

.kanban-item {
    margin-bottom: 5px;
    min-width: 360px;
    max-width: 360px;
    min-height: 40px;
    background-color: var(--color-item-primary);
    user-select: none;
}

.kanban-container:after {
    clear: both;
    display: block;
    content: "";
}

.ismoving {
    opacity: 0.4;
}

.click-item {
    /**
    https://zero-plus.io/media/css-position-static/
    */
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    /**
    https: //stackoverflow.com/questions/4919963/css3-transform-not-working
    */
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}